version: "3.9"

services:
  app:
    build: .
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=splitwise_v2
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
      - SERVER_PORT=8080

  db:
    image: postgres:17
    environment:
      POSTGRES_DB: splitwise_v2
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
